html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
*,
*:before,
*:after {
box-sizing: inherit;
}

body {
font-family: var(--fuenteParrafos);
font-size: 1.6rem;
line-height: 1.2;
font-family: "Montserrat", sans-serif;
text-decoration: none;
}

.contenedor {
    max-width: 90rem;
    width: 90%;
    margin: 0 auto;
}

a {
text-decoration: none;
}
h1,
h2,
h3,
h4 {
font-family: var(--fuenteHeading);
}
h1 {
font-size: 4.8rem;
}
h2 {
font-size: 4rem;
}
h3 {
font-size: 3.2rem;
}
h4 {
font-size: 2.8rem;
}
img {
max-width: 100%;
}

/* Utilidades */
.no-margin {
margin: 0;
}
.no-padding {
padding: 0;
}
.centrar-texto {
text-align: center;
}

.titulo-detalles{
  margin: 3rem 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.contenedor-historial{
  -webkit-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px -0px rgba(0, 0, 0, 1);
  margin-bottom: 2rem;
}

.fecha{
    margin: 2rem 0 4rem 0;
}

.historia{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.historia-imagen{
    max-width: 15rem;
    max-height: 15rem;
    margin: 1.2rem; 
    border-radius: 10%;
    box-shadow: 0px 0px 2px -0px rgba(0, 0, 0, 1);
}

.historia-imagen .imagen{
    padding: 1rem;
}

.historia-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 2rem;
    font-weight: 700;
}

.total-cantidad{
    padding: 1rem;
    box-shadow: 0px 0px 2px -0px rgb(0, 0, 0);
    border-radius: 10%;
    width: 10rem;
}

.info-nombre{
    font-size: 2rem;
}

.info-precio-unidad{
    font-size: 1.3rem;
}

.simbolo{
    font-weight: 700;
    color: rgb(0, 95, 0);
}

.cantidad-numero{
    font-weight: 700;
    color: rgb(0, 95, 0);
}

.historia-cantidad{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.historia-total{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.historial-fecha{
    background-color: black;
    color: white;
    padding: 1rem;
}